@import '../../styles/theme.scss';

.quick-search {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  width: 100%;
  background: $color-sand;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    animation: slideInDown 0.3s;
  }

  form {
    position: relative;
    height: 100%;
    margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
  }

  input[type='search'] {
    font-size: 1rem;
    height: 100%;
    background-color: transparent;
    width: 100%;
    color: darken($color: $color-sand, $amount: 70);
    border: 0 none;
  }

  input[type='search']:focus {
    outline: none;
  }
}

.search-suggestions {
  display: none;
  position: absolute;
  top: 101px;
  left: 0;
  width: calc(90% - 286px);
  padding: 2rem;
  margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.39);
  z-index: 100;
  flex-direction: row;
  justify-content: space-between;

  &.is-visible {
    display: flex;
    transform-origin: center top;
    transform: translateZ(0);
    backface-visibility: hidden;
    animation: fold-in 0.5s 0.3s;
    animation-fill-mode: backwards;
  }

  &__results {
    flex-basis: 70%;
  }

  &__links {
    flex-basis: 20%;
  }

  &__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__links li {
    margin-bottom: 2px;
  }

  &__links a {
    color: $color-black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    &:hover {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  &__heading {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1rem;
  }
}

@keyframes fold-in {
  0% {
    transform: perspective(1000px) rotateX(-90deg);
  }

  100% {
    transform: perspective(1000px) translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
