@import '../../styles/theme.scss';

.imageGallery--thumbnails {
  display: flex;
  flex-direction: row;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

// Thumbnails
.gallery-thumbs {
  flex-basis: 7rem;
  margin-right: 0.5rem;
}

.gallery-thumbs .swiper-wrapper {
  flex-direction: column;
}

.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 25%;
  opacity: 0.4;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide:last-child {
  margin-bottom: 0 !important;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

// Main Image
.gallery-main {
  flex-basis: calc(100% - 7rem);
  height: 720px;
}
