@import '../../styles/theme.scss';


.imageGallery--thumbnails {
  display: flex;
  flex-direction: row;
}

.imageGallery--thumbnails .gallery-main {
  max-width: calc(100% - 6rem);
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-thumbs {
  width: calc(5rem + 2px);
  margin-right: 14px;
  margin-left: 0;
  box-sizing: border-box;
  height: 100%;
}

.gallery-thumbs .swiper-container {
  height: 100%;
}

.gallery-thumbs .swiper-slide {
  height: 118.82px;
  width: 5rem;
  border: 1px solid #fff; 
  cursor: pointer; 
  transition: opacity 200ms ease-in-out;
  
  &:hover {
    opacity: 0.6;
  }

}

.gallery-thumbs .swiper-slide-thumb-active {
  border: 1px solid $color-emerald;

  &:hover {
    opacity: 1;
  }

}