// Colors
$color-white: rgb(255, 255, 255);
$color-sand: rgb(244, 244, 239);
$color-beige: rgb(205, 179, 128);
$color-emerald: rgb(3, 101, 100);
$color-blue: rgb(3, 54, 73);
$color-deepBlue: rgb(3, 22, 52);
$color-black: rgba(0, 0, 0, 0.87);
$color-translucentGrey: rgba(0, 0, 0, 0.54);

$font-serif: 'Yrsa', serif;
$font-sans-serif: 'Akkurat', sans-serif;