@import '../../utils/theme.scss';

.top-bar {
    width: 100%;
    background: $color-blue;
    padding: 8px 5%;
    font-size: 13px;
    font-style: italic;
    color: lighten($color: $color-blue, $amount: 20);
    text-align: center;
}

