@import '../../styles/theme.scss';
@import '../../styles/style-mixins.scss';

.product-card__image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-card-availableIn {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}

.product-card__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: $color-black;
  text-decoration: none;
}

.product-card__excerpt {
  font-size: 13px;
  line-height: 24px;
  color: $color-translucentGrey;
  margin: 0.25rem 0 1rem;
}

.product-card__price {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__labels {
  position: absolute;
  top: -12px;
  left: 11px;
  z-index: 1;
}

.product-card__label {
  background-color: $color-beige;
  font-weight: 400;
  font-size: 12px;
  padding: 6px 10px 5px;
  margin: 0px 4px 0.5rem;
  color: $color-white;
}

.product-card--grid {
  background: $color-white;
  width: 100%;
  position: relative;

  .product-card__image-link {
    display: block;
  }

  .product-card__image {
    @include aspect-ratio(150, 225);
  }

  .product-card__content {
    padding: 0.75rem 2rem 1rem;
    text-align: center;
  }

  .product-card__excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.product-card--list {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

  .product-card__image-link {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .product-card__image {
    @include aspect-ratio(1, 1);
    background-position: top;
  }

  .product-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-card__excerpt {
    margin-bottom: 0;
    margin-top: 0;
  }

  .product-card-availableIn,
  .product-card__labels,
  .product-card__price {
    display: none;
  }
}
