@import '../../styles/theme.scss';
@import '../../styles/style-mixins.scss';

.product-card {  
  background: $color-white;
  width: 100%;
  position: relative;
}

.product-card-image {
    @include aspect-ratio(150, 225);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card-content {
    padding: 0.75rem 2rem 1rem;
    text-align: center;    
}

.product-card-availableIn {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.product-card-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    color: $color-black;
    text-decoration: none;
}

.product-card-excerpt {
    font-size: 13px;
    line-height: 24px;    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: $color-translucentGrey;
    margin: 0.25rem 0 1rem;
}

.product-card-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-card-labels {
    position: absolute;
    top: -12px;
    left: 11px;
    z-index: 100;
}

.product-card-label {
    background-color: $color-beige;
    font-weight: 400;        
    font-size: 12px;     
    padding: 6px 10px 5px;
    margin: 0px 4px 0.5rem; 
    color: $color-white;        
}



