.page-header {
  margin: 6rem auto;
  text-align: center;
  max-width: 42.5rem;

  &__title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.2;
    margin: 0 0 1.25rem;
  }

  &__preamble {
    font-size: 1.25rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
  }
}
