@import '../../styles/theme.scss';

.drawer--cart {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.cart {
  &__header {
    text-align: left;
    padding: 2rem;
  }

  &__title {
    position: relative;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 3rem;
      background: $color-black;
      position: absolute;
      bottom: -1rem;
      left: 0;
    }
  }

  &__items {
    margin-top: 0.5rem;
    margin-bottom: auto;
    padding: 1rem 2rem;
  }
}

.cart-summary {
  bottom: 0px;
  position: sticky;
  top: 0px;
  left: 30px;
  right: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.92;
  padding: 1.5rem 2rem 2rem;
  background: $color-sand;

  @media (min-width: 1350px) {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
  }

  &__line {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__line--total {
    font-weight: 600;
    font-size: 16px;
  }

  &__line-title {
    font-weight: 400;
  }

  &__line-value {
    margin-left: auto;
  }
}
