.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    transform: translateY(-25%);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

.product-list-item {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    border-radius: 4px;
}