.buy-button {
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 3rem;
  border: 0 none;
  margin-top: 2rem;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:disabled {
    color: #000;
    cursor: auto;
    background-color: var(--color-ivory);
  }

  span {
    font-size: 14px;
    line-height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.3s;
    background: transparent;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translateX(50%) translateY(-50%);
    transition: transform 0.3s;
  }

  svg path {
    stroke-dashoffset: 19.79;
  }
}

.buy-button--animating {
  span {
    color: transparent;
    transform: translateY(-100%);
    transition: transform 0s;
  }
  svg {
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0s;
  }
  svg path {
    animation: fillCheckmark 300ms linear forwards;
  }
}

@keyframes fillCheckmark {
  to {
    stroke-dashoffset: 0;
  }
}
