@import '../../styles/theme.scss';

.widget-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 1rem;
}

.widget-content p {
  font-size: 15px;
  line-height: 24px;
}

.widget--menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget--menu li {
  margin-bottom: 2px;
}

.widget--menu a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    color: rgba(0, 0, 0, 0.87);
  }
}
